body.body {
    background-color: rgb(20, 19, 19);
}

.navbar {
    background-color: rgb(252, 240, 16);
    color: black;
    font-family: cursive;
    text-align: right;
    margin: 0px;
    padding: 20px;
}

i {
    color: rgb(252, 240, 16);
}

.intro {
    background-color: rgb(20, 19, 19);
    color: beige;
    text-align: center;
    font-size: 45px;
    /* text-align: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#h1{
    background-color: beige;
}

img {

    margin-left: 420px;
    margin-right: 500px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.skills {
    text-align: center;
    background-color: rgb(20, 19, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 80px;
    text-shadow: rgb(252, 240, 16);
    text-decoration: wavy;
    color: rgb(20, 19, 19);
}
#chemi{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 30px;
    color: #FFE893;
    text-align: center;
}

p {
    font-size: 30px;
    color: beige;
    text-align: center;
}
#dev{
    width: 400px;
    height: 350px;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-size: 30px;
    color: beige;
    text-align: left;
}

.description {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#aboutme {
    background-color: beige;
    color: rgb(20, 19, 19);
    font-family: 'Trebuchet MS', 'Lucida SanC Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    
}

#desn {
    color: beige;
    text-align: center;
    margin-left: 400px;
    margin-right: 150px;
    font-size: 25px;
}

.row {
    content: "";
    clear: both;
    display: flex;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#project {
    background-color: beige;
    color: rgb(20, 19, 19);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#proj {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

ul#list {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
#form{
    color: rgb(252, 240, 16);
}
#periodic_table{
    color: rgb(252, 240, 16);
}
#images{
    color: rgb(252, 240, 16);
}

.footer {
    background-color: beige;
}

.contact {
    text-align: left;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mail {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;

}

#image {
    margin-left: 0%;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.git {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

#github {
    margin-left: 0%;
    margin-right: auto;
    width: 50px;
    height: 50px;
}